@import "../../variables.scss";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="date"] {
  // display: -webkit-inline-flex;
  // -webkit-padding-start: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 1.2rem;
  height: 1.5rem;
}

input::-webkit-datetime-edit {
  padding: 1.5rem;
}

input {
  width: 12rem;
  height: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: $inputBorder;
  border-radius: 15px;
  transition: border-color 0.3s ease;
  background-color: var(--inputBackground);

  &::placeholder {
    color: $placeholder;
    text-align: center;
  }

  &:hover {
    border-color: $borderColor;
  }

  &:focus {
    border-color: $focusInput;
    outline: none;
    box-shadow: $boxShadowFocus;
  }

  &:disabled {
    background-color: $disabled;
    cursor: not-allowed;
  }
}
