input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="date"] {
  display: -webkit-inline-flex;
  -webkit-padding-start: 1rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 2rem;
  height: 2rem;
}
input::-webkit-datetime-edit {
  padding: 2rem;
  // -webkit-flex: 1;
  // -webkit-user-modify: read-only !important;
  // display: inline-block;
  // min-width: 0;
  // overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
  // -webkit-user-modify: read-only !important;
  // display: inline-block;
  // padding: 1px 0;
  // white-space: pre;
}

input {
  width: 15rem;
  height: 2rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: border-color 0.3s ease;

  &::placeholder {
    color: #a5a5a5;
    text-align: center;
  }

  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: #00a2ff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }

  &:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
}
