@import "../../variables.scss";

button {
  width: 6.1rem;
  margin: 1rem calc(1rem * 1.618);
  padding: 0.4rem 1rem;
  font-size: 0.74rem;
  display: flex;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  font-family: inherit;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  border-color: solid 1px var(--borderColor);
  background-color: var(--buttonBackground);
  cursor: pointer;

  &:hover {
    border: 1px solid #646cff;
  }

  @media only screen and (min-width: 1001px) {
    width: 8rem;
    font-size: 1rem;
    margin: 1rem calc(1rem * 1.618);
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button__delete {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem;
  border-radius: 30px;
}
