/*
für top padding hälfte der fontsize
left-right das doppelte der fontsize
Golden ratio: Fibonacci Sequenz abgeleitet - horizontal * 1,618
Rule of Sets: längere Seite * 1,5
Silver Ratio: (japanische Architektur) - * 2,414
PI-Seitenverhältnis: * 3.14159265359

*/

button {
  width: 8rem;
  margin: 1rem calc(1rem * 1.618);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__delete {
  width: 2rem;
  height: 2rem;
  margin: 0rem;
  border-radius: 300px;
}

.light-mode button {
  background-color: var(--backgroundColorBright);
  color: var(--textColorDark);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dark-mode button {
  background-color: var(--backgroundColorDark);
  color: var(--textColorBright);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
