@import "../../variables";

.userCard {
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0;

  background-color: var(--cardBackground);
  border-radius: 10px;
  width: 30rem;
  height: auto;
  border: 1px solid var(--borderColor);

  &__img {
    max-width: 5rem;
    height: auto;
    border-radius: 8px;
  }

  &__actionArea {
    display: flex;
  }

  &__media {
    padding: 1rem;
    border-right: 1px solid var(--borderColor);
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--primary-text);

    &__name {
      font-weight: bold;
      margin: 0 0.5rem;
      gap: 0.5rem;
    }

    &__firstName {
      margin-right: 0.5rem;
    }

    &__info-wrapper {
      display: flex;
      flex-direction: column;
      &__body {
        display: grid;
        flex-direction: row;
        gap: 1rem;
      }
    }

    &__info-item {
      display: flex;
      justify-items: center;
      font-size: 0.9rem;
      text-align: left;
      margin: 0;
      width: 100%;
      gap: 1rem;
      svg {
        margin: 0 0.5rem;
        width: 1.1rem;
      }
    }
  }
}
