@import "../../variables";

.userCard {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: $cardBackground_lightMode;
  border-radius: 10px;
  width: 30rem;
  height: auto;
  border: 1px solid $borderColor_lightMode;

  &__img {
    max-width: 6rem;
    height: auto;
    border-radius: 8px;
  }

  &__actionArea {
    display: flex;
  }

  &__media {
    padding: 1rem;
    border-right: 1px solid $borderColor_lightMode;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $primary-text_lightMode;

    &__name {
      font-weight: bold;
      margin: auto;
      gap: 0.5rem;
    }

    &__firstName {
      margin-right: 0.5rem;
    }

    &__info-wrapper {
      display: flex;
      flex-direction: column;

      &__body {
        display: grid;
        flex-direction: row;
        gap: 1rem;
      }
    }

    &__info-item {
      font-size: 0.9rem;
      text-align: center;
      margin: 0;
      width: 100%;
    }
  }
}
