.userCard {
  padding: 2rem;
  margin: 1rem;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  width: 25rem;
  height: 20rem;
  border: 1px solid rgba(128, 128, 128, 0.5);

  &__actionArea {
    display: flex;
  }

  &__media {
    padding: 1.5rem;
    border-right: 1px solid rgba(128, 128, 128, 0.5);
  }

  &__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__name {
      font-weight: bold;
      gap: 0.5rem;
    }

    &__firstName {
      margin-right: 0.5rem;
    }

    &__info-wrapper {
      display: flex;
      flex-direction: column;

      &__body {
        display: grid;
        flex-direction: row;
        gap: 1rem;
      }
    }

    &__info-item {
      text-align: center;
      margin: 0.4rem;
      width: 100%;
    }
  }
}
