@media only screen and (min-width: 1001px) {
  button {
    font-size: 0.9rem;
    width: 5.5rem;
  }

  .createview {
    flex-direction: row;
  }

  .sidebar {
    background-color: var(--secondary-color);
    // width: 15vw;
    // padding: 2rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
      margin: 1rem 0;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .userCard {
    padding: 0.5rem;
    margin: 0 0.5rem 0.5rem 0;
    font-size: 0.9rem;
    width: 22rem;
    height: auto;

    &__img {
      max-width: 4rem;
      height: 20rem;
    }
  }

  /* The slider */
  .slider {
    height: 2rem;
  }

  .slider:before {
    font-size: 1rem;
  }

  .sidebar {
    img {
      width: 8rem;
    }
  }
}
