/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 900px) {
  * {
    font-size: 0.85rem;
  }

  button {
    font-size: 0.7rem;
    width: 5.5rem;
  }

  .userCard {
    padding: 0.5rem;
    margin: 0 0.5rem 0.5rem 0;
    font-size: 0.7rem;
    width: 22rem;
    height: auto;

    &__img {
      max-width: 4rem;
      height: auto;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
