@import "../../variables.scss";

.sidebar {
  background-color: var(--secondary-color);
  // width: 15vw;
  padding: 2rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    margin: 1rem 0;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
