$primary-color: #faebd7;
$secondary-color: cadetblue;
$primary-text: #000000;
$secondary-text: #ffffff;

$cardBackground: rgb(211, 211, 211);
$blackBackground: #000000;
$borderColor: rgba(128, 128, 128, 0.5);
$buttonBorderColor: rgb(255, 255, 255);
$inputBorder: 1px solid #ccc;
$placeholder: #a5a5a5;

// extra
$danger: #dc3545;
$boxShadowDanger: 0 0 0 3px rgba(220, 53, 69, 0.25);
$boxShadowFocus: 0 0 0 3px rgba(0, 123, 255, 0.25);
$focusInput: #00a2ff;
$disabled: #f0f0f0;

// button
