$primary-color_lightMode: antiquewhite;
$secondary-color_lightMode: cadetblue;
$primary-text_lightMode: #000000;
$secondary-text_lightMode: #ffffff;

$cardBackground_lightMode: rgb(211, 211, 211);

$borderColor_lightMode: rgba(128, 128, 128, 0.5);

// Darkmode
