@import "./variables";

#root {
  text-align: center;
  --primary-color: #faebd7;
  --secondary-color: cadetblue;
  --primary-text: #000000;
  --secondary-text: #ffffff;
  --ternary-text: #ffffff;

  --cardBackground: rgb(211, 211, 211);
  --inputBackground: #161616;
  // --borderColor: rgba(128, 128, 128, 0.5);
  --borderColor: rgb(255, 255, 255);
  --buttonBackground: #2e2e2eef;
  --inputBorder: 1px solid #ccc;
  --placeholder: #a5a5a5;
}

* {
  &.dark {
    --primary-color: #111111;
    --secondary-color: #232a33;
    --primary-text: #c7c7c7;
    --secondary-text: #232a33;
    --ternary-text: #ffffff;

    --inputBackground: rgba(83, 94, 128, 0.133);
    // --cardBackground: rgba(175, 175, 175, 0.534);
    --cardBackground: #232a33;
    // --borderColor: rgba(128, 128, 128, 0.5);
    --borderColor: rgba(255, 255, 255, 0.7);

    // --buttonBorderColor: rgb(255, 255, 255);
    --inputBorder: 1px solid #ccc;
  }
}
