@import "../../variables.scss";

.createview {
  background-color: var(--primary-color);
  color: var(--primary-text);
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;

  &__content {
    max-width: 85vw;
    padding: 1.5rem 1.5rem;
    // align-items: center;
    // justify-content: center;
    // margin: 3rem 0rem 0rem 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: 3rem 0rem 0rem 1rem;

    &__section {
      margin: 0 0 1.5rem 0;
      display: flex;
      padding: 0;
    }

    &__legend {
      margin-bottom: 0.5rem;
      // font-size: 1.1rem;
      font-size: 0.84rem;

      font-weight: bold;
      text-align: left;
      border: none;

      .--inputRequired {
        color: $danger;
      }
    }

    &__group {
      display: flex;
      flex-direction: column;
    }

    &__input {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      gap: 0.5rem;
    }
  }

  label {
    // margin-bottom: 0.5rem;
    font-weight: bold;
  }

  fieldset {
    border: none;
  }

  // Fehlerstil f체r sp채ter
  &--error {
    input {
      border-color: $danger;

      &:focus {
        border-color: $danger;
        box-shadow: $boxShadowDanger;
      }
    }
  }

  @media only screen and (min-width: 1001px) {
    .createview {
      color: var(--primary-text);
      display: flex;
      flex-direction: row;
      height: 100vh;
      width: 100vw;

      &__content {
        max-width: 85vw;
        padding: 2rem 2rem;
        // margin: 3rem 0rem 0rem 1rem;
      }

      &__form {
        display: flex;
        flex-direction: column;
        // margin: 3rem 0rem 0rem 1rem;

        &__section {
          margin: 0 1.5rem 1.5rem 0;
          display: flex;
          padding: 0;
        }

        &__legend {
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
          font-weight: bold;
          text-align: left;
          border: none;

          .--inputRequired {
            color: $danger;
          }
        }

        &__group {
          display: flex;
          flex-direction: column;
        }

        &__input {
          display: flex;
          flex-direction: column;
          margin-bottom: 0.5rem;
          gap: 0.5rem;
        }
      }

      label {
        // margin-bottom: 0.5rem;
        font-weight: bold;
      }

      fieldset {
        border: none;
      }

      // Fehlerstil f체r sp채ter
      &--error {
        input {
          border-color: $danger;

          &:focus {
            border-color: $danger;
            box-shadow: $boxShadowDanger;
          }
        }
      }
    }
  }
}
