@import "../../variables.scss";

.createview {
  background-color: var(--primary-color);
  color: var(--primary-text);
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;

  &__content {
    max-width: 85vw;
    padding: 1.5rem 1.5rem;
    // align-items: center;
    // justify-content: center;
    // margin: 3rem 0rem 0rem 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: 3rem 0rem 0rem 1rem;

    &__section {
      margin: 0 0 1.5rem 0;
      display: flex;
      padding: 0;
    }

    &__legend {
      margin-bottom: 0.5rem;
      // font-size: 1.1rem;
      font-size: 0.84rem;

      font-weight: bold;
      text-align: left;
      border: none;

      .--inputRequired {
        color: $danger;
      }
    }

    &__group {
      display: flex;
      flex-direction: column;
    }

    &__input {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      gap: 0.5rem;
    }
  }

  label {
    // margin-bottom: 0.5rem;
    font-weight: bold;
  }

  fieldset {
    border: none;
  }

  // Fehlerstil für später
  &--error {
    input {
      border-color: $danger;

      &:focus {
        border-color: $danger;
        box-shadow: $boxShadowDanger;
      }
    }
  }
}
